
    /* Tema Black Metal */
    body {
      background-color: #0b0b0b;
      color: #e0e0e0;
      font-family: 'Cinzel Decorative', serif;
      background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
      background-repeat: repeat;
    }

    .navbar {
      background: linear-gradient(180deg, #000, #111);
      border-bottom: 1px solid #333;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    }

    .navbar-brand, .nav-link {
      color: #f5f5f5 !important;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      transition: all 0.3s ease;
    }

    .navbar-brand:hover, .nav-link:hover {
      color: #c60000 !important; /* merah darah */
      text-shadow: 0 0 8px #c60000;
    }

    .navbar-toggler {
      border: none;
      filter: invert(100%);
    }

    .navbar-toggler:focus {
      box-shadow: none;
    }

    /* Efek garis bawah seperti logo metal */
    .nav-link {
      position: relative;
    }

    .nav-link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #c60000;
      transition: width 0.3s ease;
    }

    .nav-link:hover::after {
      width: 100%;
    }

    #gambar-jmb{
      object-fit: cover;
      height: 100vh;
    }


    @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');